<div class="container my-4">
  <h2>Your Cart</h2>

  @if (cartItems.length === 0) {
    <div>Your cart is empty.</div>
  } @else {
  @for (item of cartItems; track item?.product?.id ?? item){
      <div class="row border-bottom py-3 align-items-center">
        <div class="col-md-2">
          <img [src]="item.product.images[0]" class="img-fluid rounded" alt="Product">
        </div>
        <div class="col-md-4">
          <h5>{{ item.product.title }}</h5>
          <p>{{ item.product.category }}</p>
        </div>
        <div class="col-md-2">
          <button (click)="decrease(item)" class="btn btn-sm btn-outline-secondary">−</button>
          <span class="mx-2">{{ item.quantity }}</span>
          <button (click)="increase(item)" class="btn btn-sm btn-outline-secondary">+</button>
        </div>
        <div class="col-md-2">
          {{ item.product.price * item.quantity | currency }}
        </div>
        <div class="col-md-2">
          <button (click)="remove(item)" class="btn btn-sm btn-danger">Remove</button>
        </div>
      </div>
    }

    <div class="text-end mt-4">
      <h4>Total: {{ getTotal() | currency }}</h4>
    </div>
  }
</div>
